.left-rect {
  height: 241.6px;
  width: 241.6px;
  position: absolute;
  margin: 0 !important;
  right: -422.81px;
  bottom: -44.61px;
  border-radius: 39px;
  background: linear-gradient(269.65deg, #ffd600, #ffa200),
    radial-gradient(50% 50%at 50% 50%, #3cdf7d, #008d6b);
  transform: rotate(60deg);
  transform-origin: 0 0;
}
.right-rect {
  height: 154.8px;
  width: 154.8px;
  right: 471.2px;
  bottom: 319.3px;
  border-radius: var(--br-lg);
  background: radial-gradient(50% 50%at 50% 50%, #3cdf7d, #008d6b),
    linear-gradient(269.65deg, #ffd600, #ffa200);
  transform: rotate(-57.7deg);
  transform-origin: 0 0;
}
.empty-rect-icon,
.logo-background,
.right-rect {
  position: absolute;
  margin: 0 !important;
}
.empty-rect-icon {
  height: 119px;
  width: 208px;
  top: 60px;
  left: calc(50% - 104px);
  object-fit: contain;
}
.logo-background {
  height: 142px;
  width: 142px;
  top: -162.01px;
  right: -111.99px;
  border-radius: var(--br-3xl);
  background: linear-gradient(269.65deg, #ffd600, #ffa200),
    radial-gradient(50% 50%at 50% 50%, #3cdf7d, #008d6b);
  transform: rotate(60deg);
  transform-origin: 0 0;
}
.a,
.logo {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.logo {
  line-height: 40px;
  font-weight: 700;
  display: inline-block;
  min-width: 88px;
  white-space: nowrap;
}
.a {
  font-weight: 500;
  min-width: 106px;
}
.a,
.a1,
.a2 {
  display: inline-block;
  white-space: nowrap;
}
.a1 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  min-width: 97px;
}
.a2 {
  min-width: 45px;
}
.a2,
.a3,
.a4 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.a3 {
  display: inline-block;
  min-width: 114px;
}
.a4 {
  white-space: nowrap;
}
.menu-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.logo-container,
.logo-container-wrapper,
.menu-items-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.menu-items-wrapper {
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.logo-container,
.logo-container-wrapper {
  flex-direction: row;
}
.logo-container {
  gap: var(--gap-41xl);
}
.logo-container-wrapper {
  flex: 1;
}
.child,
.logo-background-parent {
  align-self: stretch;
  position: relative;
}
.logo-background-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-mediumseagreen-300);
  font-family: var(--font-montserrat);
}
.child {
  height: 832px;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.1);
  border-radius: var(--br-33xl);
  background-color: var(--color-white);
  display: none;
}
.frame-child,
.input-icons {
  position: absolute;
  background-color: var(--color-mediumseagreen-300);
}
.frame-child {
  top: 0;
  left: 0;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: 50%;
  border: 0 solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.input-icons {
  height: 111px;
  width: 4px;
  margin: 0 !important;
  top: calc(50% + 2px);
  right: 3px;
  border-radius: var(--br-5xs);
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}
.empty-icon {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 8px;
  z-index: 3;
}
.input-icons-parent {
  position: absolute;
  top: 15px;
  left: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent {
  height: 44px;
  width: 44px;
  position: relative;
  color: var(--color-white);
}
.b,
.frame-item {
  position: absolute;
}
.frame-item {
  top: 0;
  left: 0;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.b {
  top: 15px;
  left: 16.5px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 11px;
  z-index: 3;
}
.ellipse-group {
  height: 44px;
  width: 44px;
  position: relative;
}
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.b1 {
  position: absolute;
  top: 15px;
  left: 16.5px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 11px;
  z-index: 3;
}
.ellipse-container {
  height: 44px;
  width: 44px;
  position: relative;
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.rectangle-div {
  height: 439px;
  width: 4px;
  position: absolute;
  margin: 0 !important;
  top: 9.7px;
  left: -213.8px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-200);
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}
.b2 {
  flex: 1;
  position: relative;
  line-height: 15.4px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 14.3px;
  flex-shrink: 0;
  z-index: 3;
}
.rectangle-parent {
  position: absolute;
  top: 14.3px;
  left: 14.8px;
  width: 14.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  height: 44px;
  width: 44px;
  position: relative;
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.b3 {
  position: absolute;
  top: 15px;
  left: 16.5px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 11px;
  z-index: 3;
}
.ellipse-parent1 {
  height: 44px;
  width: 44px;
  position: relative;
}
.frame-child2 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.b4 {
  position: absolute;
  top: 15px;
  left: 16px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 12px;
  z-index: 3;
}
.ellipse-parent2 {
  height: 44px;
  width: 44px;
  position: relative;
}
.frame-container,
.input-fields {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-container {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.input-fields {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl);
  box-sizing: border-box;
}
.separator {
  align-self: stretch;
  height: 2px;
  position: relative;
  background-color: var(--color-aliceblue);
  z-index: 1;
}
.personal-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  max-width: 100%;
}
.b5,
.item {
  position: relative;
}
.b5 {
  font-size: var(--font-size-11xl);
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray-100);
  text-align: left;
  z-index: 1;
}
.item {
  height: 80px;
  width: 614px;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  border: 1.4px solid var(--color-mediumvioletred);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div2,
.frepimellemi-2434gmailcom {
  position: relative;
  font-family: var(--font-onest);
  text-align: left;
  z-index: 1;
}
.div2 {
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-gray-100);
  display: inline-block;
  min-width: 122px;
}
.frepimellemi-2434gmailcom {
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray-100);
  white-space: nowrap;
}
.email-name-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-47xl);
  background-color: var(--color-mediumvioletred);
  border: 2px solid var(--color-palevioletred);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.charmcross-icon {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  z-index: 1;
}
.rectangle-group {
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: var(--br-47xl);
  background-color: var(--color-mediumvioletred);
  border: 2px solid var(--color-palevioletred);
  box-sizing: border-box;
  z-index: 1;
}
.div1,
.family-name-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.div1 {
  flex: 1;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  border: 1.4px solid var(--color-mediumvioletred);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-lgi) var(--padding-mini)
    var(--padding-mid);
  gap: var(--gap-xl);
  z-index: 1;
}
.div1,
.inner,
.wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
}
.inner {
  width: 614px;
  height: 80px;
  position: relative;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  display: none;
}
.div4,
.input,
.line-icon {
  position: relative;
  z-index: 1;
}
.div4 {
  font-size: var(--font-size-smi);
  font-weight: 500;
  font-family: var(--font-onest);
  background: linear-gradient(#78837e, #78837e), #313131;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  display: inline-block;
  min-width: 26px;
}
.input,
.line-icon {
  flex-shrink: 0;
}
.input {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-onest);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 19px;
  flex: 1;
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
  min-width: 11px;
  padding: 0;
}
.line-icon {
  width: 0;
  height: 13px;
  object-fit: contain;
}
.div3,
.inner1,
.parent,
.vector-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper {
  width: 0;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.div3,
.inner1,
.parent {
  flex-direction: row;
}
.parent {
  width: 19px;
  padding: 0;
  box-sizing: border-box;
  gap: 1.5px;
}
.div3,
.inner1 {
  padding: 0 var(--padding-11xs);
}
.div3 {
  flex: 1;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-lg);
  gap: var(--gap-3xs);
  z-index: 1;
}
.child1,
.container,
.div3 {
  box-sizing: border-box;
  max-width: 100%;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
}
.child1 {
  height: 80px;
  width: 614px;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  border: 1.4px solid var(--color-mediumseagreen-300);
  display: none;
}
.div6,
.input1 {
  font-family: var(--font-onest);
  position: relative;
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.div6 {
  font-size: var(--font-size-smi);
  font-weight: 500;
  background: linear-gradient(#78837e, #78837e), #313131;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 58px;
}
.input1 {
  width: calc(100% - 0px);
  border: 0;
  outline: 0;
  font-size: var(--font-size-mini);
  background-color: transparent;
  align-self: stretch;
  height: 19px;
  color: var(--color-darkslategray-100);
  min-width: 34px;
  padding: 0;
}
.group {
  width: 58px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-47xl);
  background-color: var(--color-mediumseagreen-300);
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.vector-78-stroke {
  position: absolute;
  top: 10px;
  left: 9px;
  width: 10px;
  height: 8px;
  z-index: 1;
}
.rectangle-container {
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: var(--br-47xl);
  background-color: var(--color-mediumseagreen-300);
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
  z-index: 1;
}
.div5,
.frame,
.inner2 {
  display: flex;
  align-items: flex-start;
}
.inner2 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.div5,
.frame {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.div5 {
  flex: 1;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  border: 1.4px solid var(--color-mediumseagreen-300);
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-lgi) var(--padding-mini)
    var(--padding-mid);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
}
.child2,
.div8 {
  position: relative;
}
.child2 {
  height: 80px;
  width: 614px;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  display: none;
  max-width: 100%;
}
.div8 {
  font-size: var(--font-size-mini);
  font-family: var(--font-onest);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  min-width: 68px;
  z-index: 1;
}
.button:hover,
.div7 {
  box-sizing: border-box;
}
.div7 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-lg) var(--padding-11xl);
  max-width: 100%;
  z-index: 1;
}
.div9,
.group-input {
  position: relative;
  z-index: 1;
}
.group-input {
  margin: 0;
  height: 24px;
  width: 24px;
  border-radius: 6px;
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.div9 {
  font-size: var(--font-size-smi);
  font-weight: 500;
  font-family: var(--font-onest);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
  min-width: 83px;
}
.frame-parent1,
.middle-name-input,
.placeholder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.placeholder {
  flex-direction: column;
  padding: 3.5px 0 0;
}
.frame-parent1,
.middle-name-input {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
}
.b6 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-montserrat);
  background: linear-gradient(#313131, #313131), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  min-width: 68px;
}
.button {
  cursor: pointer;
  border: 2px solid var(--color-gold-100);
  padding: var(--padding-lgi) var(--padding-xl);
  background-color: var(--color-gold-200);
  align-self: stretch;
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}
.button:hover {
  background-color: var(--color-goldenrod-200);
  border: 2px solid var(--color-goldenrod-100);
}
.personal-data-label,
.personal-data-label-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.personal-data-label {
  margin: 0;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.personal-data-label-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-41xl);
  box-sizing: border-box;
}
.button1:hover,
.div {
  box-sizing: border-box;
}
.div {
  width: 734px;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.1);
  border-radius: var(--br-33xl);
  background-color: var(--color-white);
  align-items: flex-start;
  padding: var(--padding-17xl) 0 var(--padding-41xl);
  gap: var(--gap-41xl);
  z-index: 1;
}
.div,
.frame-group,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-group {
  align-self: stretch;
  align-items: flex-end;
  gap: 124px;
}
.frame-wrapper {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 774px;
}
.icround-email-icon,
.mingcutetelegram-fill-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.login-options,
.social-icons {
  display: flex;
  align-items: flex-start;
}
.social-icons {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.login-options {
  width: 74px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.a5 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 20px;
  font-weight: 700;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 106px;
}
.button1 {
  cursor: pointer;
  border: 2px solid var(--color-mediumseagreen-100);
  padding: var(--padding-2xs) var(--padding-3xl);
  background-color: var(--color-mediumseagreen-300);
  flex: 1;
  border-radius: var(--br-xs);
}
.button1:hover {
  background-color: var(--color-mediumseagreen-200);
  border: 2px solid var(--color-seagreen);
}
.button1,
.frame-parent,
.left-rect-parent,
.social-login {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-login {
  width: 270px;
  gap: var(--gap-23xl);
}
.frame-parent,
.left-rect-parent {
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  flex-wrap: wrap;
  gap: 187px;
}
.left-rect-parent {
  align-self: stretch;
  position: relative;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-mediumseagreen-300);
  font-family: var(--font-montserrat);
}
.bottom-separator {
  width: 88px;
  height: 88px;
  position: absolute;
  margin: 0 !important;
  top: 641.42px;
  left: -76px;
  border-radius: var(--br-lg);
  background: radial-gradient(50% 50%at 50% 50%, #3cdf7d, #008d6b),
    linear-gradient(269.65deg, #ffd600, #ffa200);
  transform: rotate(-57.7deg);
  transform-origin: 0 0;
}
.email-1920-px {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-117xl) 0;
  box-sizing: border-box;
  gap: 160px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-group {
    gap: 62px;
  }
  .frame-wrapper {
    min-width: 100%;
  }
  .frame-parent {
    gap: 93px;
  }
  .email-1920-px {
    gap: 80px;
    padding-left: var(--padding-49xl);
    padding-right: var(--padding-49xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .logo-container {
    gap: var(--gap-11xl);
  }
  .b5 {
    font-size: var(--font-size-5xl);
  }
  .div {
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .menu-items {
    display: none;
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .input-fields {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .personal-info {
    gap: var(--gap-lg);
  }
  .personal-data-label {
    gap: var(--gap-base);
  }
  .personal-data-label-wrapper {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .div {
    gap: var(--gap-11xl);
  }
  .frame-group {
    gap: 31px;
  }
  .frame-parent {
    gap: 47px;
  }
  .email-1920-px {
    gap: 40px;
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .b5 {
    font-size: var(--font-size-lg);
  }
  .b6 {
    font-size: var(--font-size-base);
  }
  .div {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .frame-group {
    gap: var(--gap-mini);
  }
  .social-login {
    gap: var(--gap-2xl);
  }
  .frame-parent {
    gap: 23px;
  }
  .email-1920-px {
    gap: var(--gap-xl);
  }
}
