.page-wrapper,
.px {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.page-wrapper {
  align-self: stretch;
  align-items: flex-start;
  gap: 79px;
  max-width: 100%;
}
.px {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  align-items: flex-end;
  gap: 48px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .page-wrapper {
    gap: 39px;
  }
}
@media screen and (max-width: 825px) {
  .page-wrapper {
    gap: var(--gap-xl);
  }
  .px {
    gap: var(--gap-5xl);
  }
}