.card,
.card1 {
  transform-origin: 0 0;
}
.card {
  height: 241.6px;
  width: 241.6px;
  position: absolute;
  margin: 0 !important;
  right: -422.81px;
  bottom: 316.39px;
  border-radius: var(--br-20xl);
  background: linear-gradient(269.65deg, #ffd600, #ffa200),
    radial-gradient(50% 50%at 50% 50%, #3cdf7d, #008d6b);
  transform: rotate(60deg);
}
.card1 {
  height: 154.8px;
  width: 154.8px;
  top: 525.9px;
  right: 471.2px;
  border-radius: var(--br-lg);
  background: radial-gradient(50% 50%at 50% 50%, #3cdf7d, #008d6b),
    linear-gradient(269.65deg, #ffd600, #ffa200);
  transform: rotate(-57.7deg);
}
.card-icon,
.card1,
.menu-item-icon {
  position: absolute;
  margin: 0 !important;
}
.card-icon {
  height: 119px;
  width: 208px;
  top: 60px;
  left: calc(50% - 104px);
  object-fit: contain;
}
.menu-item-icon {
  height: 142px;
  width: 142px;
  top: -162.01px;
  right: -111.99px;
  border-radius: var(--br-3xl);
  background: linear-gradient(269.65deg, #ffd600, #ffa200),
    radial-gradient(50% 50%at 50% 50%, #3cdf7d, #008d6b);
  transform: rotate(60deg);
  transform-origin: 0 0;
}
.a30,
.logo9 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.logo9 {
  line-height: 40px;
  font-weight: 700;
  display: inline-block;
  min-width: 88px;
  white-space: nowrap;
}
.a30 {
  font-weight: 500;
  min-width: 106px;
}
.a30,
.a31,
.a32 {
  display: inline-block;
  white-space: nowrap;
}
.a31 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  min-width: 97px;
}
.a32 {
  min-width: 45px;
}
.a32,
.a33,
.a34 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.a33 {
  display: inline-block;
  min-width: 114px;
}
.a34 {
  white-space: nowrap;
}
.contact-items,
.menu-links-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-links-inner {
  flex-direction: row;
  gap: var(--gap-7xl);
}
.contact-items {
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.logo-parent1 {
  gap: var(--gap-41xl);
}
.logo-parent1,
.menu-items-inner,
.menu-items-inner-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.menu-items-inner-inner {
  flex: 1;
}
.menu-items-inner {
  align-self: stretch;
  position: relative;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-mediumseagreen-300);
  font-family: var(--font-montserrat);
}
.child10,
.h18 {
  position: relative;
}
.child10 {
  align-self: stretch;
  height: 1193px;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.1);
  border-radius: var(--br-33xl);
  background-color: var(--color-white);
  display: none;
}
.h18 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.horem-ipsum-dolor,
.horem-ipsum-dolor1,
.horem-ipsum-dolor2 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.horem-ipsum-dolor-sit-amet-co-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.div59 {
  align-self: stretch;
  z-index: 1;
}
.child11,
.div59,
.div61 {
  position: relative;
}
.child11 {
  height: 80px;
  width: 614px;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div61 {
  font-weight: 500;
  background: linear-gradient(#78837e, #78837e), #313131;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 70px;
  z-index: 1;
}
.frame-child10,
.placeholder1 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.placeholder1 {
  display: inline-block;
  min-width: 25px;
  white-space: nowrap;
}
.frame-child10 {
  width: 0;
  height: 13px;
  object-fit: contain;
}
.phone-number-value-inner {
  width: 0;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.phone-number-inner,
.phone-number-input,
.phone-number-value,
.phone-number-value-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.phone-number-value {
  flex-direction: row;
  padding: 0;
  gap: 3.5px;
  font-size: var(--font-size-mini);
}
.phone-number-inner,
.phone-number-input {
  flex-direction: column;
}
.phone-number-inner {
  gap: var(--gap-3xs);
}
.phone-number-input {
  padding: var(--padding-10xs) 0 0;
}
.sms1 {
  position: relative;
  font-size: 14px;
  display: inline-block;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray-100);
  text-align: left;
  min-width: 116px;
}
.div60,
.incoming-call,
.sms {
  display: flex;
  align-items: flex-start;
}
.sms {
  cursor: pointer;
  border: 2px solid var(--color-gold-100);
  padding: var(--padding-mini) var(--padding-lg) var(--padding-mini)
    var(--padding-2xl);
  background-color: var(--color-gold-200);
  width: 159px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.button13:hover,
.sms:hover {
  background-color: var(--color-goldenrod-200);
  border: 2px solid var(--color-goldenrod-100);
  box-sizing: border-box;
}
.div60,
.incoming-call {
  align-self: stretch;
  max-width: 100%;
}
.div60 {
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-mini) var(--padding-xs)
    var(--padding-mid);
  gap: var(--gap-xl);
  z-index: 1;
  font-size: var(--font-size-smi);
}
.incoming-call {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
}
.child12 {
  height: 74px;
  width: 614px;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-mediumseagreen-500);
  display: none;
  max-width: 100%;
}
.alert-triangle-icon {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 1;
}
.div63 {
  width: 513px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  max-width: calc(100% - 46px);
  z-index: 1;
}
.div62,
.group-input2 {
  box-sizing: border-box;
  z-index: 1;
}
.div62 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--color-mediumseagreen-500);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-lg) var(--padding-3xl);
  gap: var(--gap-3xl);
  max-width: 100%;
  font-size: var(--font-size-smi);
}
.group-input2 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-mediumseagreen-100);
}
.span9 {
  font-weight: 500;
  font-family: var(--font-onest);
}
.span10 {
  font-weight: 600;
  color: var(--color-mediumseagreen-300);
}
.div64 {
  position: relative;
  z-index: 1;
}
.agreement-label,
.checkbox-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.agreement-label {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.checkbox-list {
  flex-direction: row;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.frame-child11 {
  height: 185px;
  width: 614px;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-mintcream);
  display: none;
  max-width: 100%;
}
.group-input3 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.div66 {
  position: relative;
  font-weight: 500;
}
.document-links1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 341px;
  max-width: 100%;
}
.teenyiconspdf-solid4 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div65,
.document-file-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.document-file-icons {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.div65 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.group-input4 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.div68 {
  position: relative;
  font-weight: 500;
}
.wrapper6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 341px;
  max-width: 100%;
}
.teenyiconspdf-solid5 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div67,
.teenyiconspdf-solid-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.teenyiconspdf-solid-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.div67 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.group-input5 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.div70 {
  position: relative;
  font-weight: 500;
}
.wrapper7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 341px;
  max-width: 100%;
}
.teenyiconspdf-solid6 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div69,
.teenyiconspdf-solid-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.teenyiconspdf-solid-container {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.div69 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.group-input6 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.div72 {
  position: relative;
  font-weight: 500;
}
.wrapper8 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 341px;
  max-width: 100%;
}
.teenyiconspdf-solid7 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div71,
.parent7,
.teenyiconspdf-solid-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.teenyiconspdf-solid-frame {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.div71,
.parent7 {
  max-width: 100%;
}
.div71 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.parent7 {
  flex: 1;
  flex-direction: column;
  gap: 17.7px;
  z-index: 1;
}
.rectangle-parent4 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--color-mintcream);
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-xs);
  box-sizing: border-box;
  z-index: 1;
  font-size: var(--font-size-smi);
  color: var(--color-mediumseagreen-300);
}
.agreement-checkboxes,
.agreements,
.rectangle-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.agreement-checkboxes {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.agreements {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-7xs) var(--padding-12xs);
  box-sizing: border-box;
  color: var(--color-darkslategray-100);
}
.b32 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-montserrat);
  background: linear-gradient(#313131, #313131), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  min-width: 118px;
}
.button13,
.phone-input {
  display: flex;
  align-items: flex-start;
}
.button13 {
  cursor: pointer;
  border: 2px solid var(--color-gold-100);
  padding: var(--padding-lgi) var(--padding-xl);
  background-color: var(--color-gold-200);
  align-self: stretch;
  border-radius: var(--br-sm);
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}
.phone-input {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.frame-child12 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xl);
  background-color: var(--color-aliceblue);
  width: 100%;
  height: 100%;
  display: none;
}
.frame-child13,
.rectangle-parent5 {
  width: 6px;
  border-radius: var(--br-4xl);
  z-index: 1;
}
.frame-child13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumseagreen-300);
  height: 52px;
}
.rectangle-parent5 {
  height: 271px;
  position: relative;
  background-color: var(--color-aliceblue);
}
.call-info,
.parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.call-info {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xl);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
  font-family: var(--font-onest);
}
.parent6 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.div58,
.inner3 {
  box-sizing: border-box;
}
.inner3 {
  width: 706px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl);
  max-width: 100%;
}
.div58 {
  width: 734px;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.1);
  border-radius: var(--br-33xl);
  background-color: var(--color-white);
  align-items: flex-end;
  padding: var(--padding-17xl) 0 var(--padding-41xl);
  gap: var(--gap-41xl);
  z-index: 1;
}
.div58,
.menu-items-frame,
.menu-items1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.menu-items1 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-105xl);
}
.menu-items-frame {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  min-width: 774px;
}
.icround-email-icon7,
.mingcutetelegram-fill-icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.social-icons1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.registration-inner {
  width: 74px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.a35 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 20px;
  font-weight: 700;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 106px;
}
.button14 {
  cursor: pointer;
  border: 2px solid var(--color-mediumseagreen-100);
  padding: var(--padding-2xs) var(--padding-3xl);
  background-color: var(--color-mediumseagreen-300);
  flex: 1;
  border-radius: var(--br-xs);
}
.button14:hover,
.button15:hover {
  background-color: var(--color-mediumseagreen-200);
  border: 2px solid var(--color-seagreen);
  box-sizing: border-box;
}
.button14,
.card-parent,
.frame-parent6,
.registration {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.registration {
  width: 270px;
  gap: var(--gap-23xl);
}
.card-parent,
.frame-parent6 {
  max-width: 100%;
}
.frame-parent6 {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-168xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-montserrat);
}
.card-parent {
  align-self: stretch;
  position: relative;
}
.card2 {
  width: 88px;
  height: 88px;
  position: absolute;
  margin: 0 !important;
  top: 641.42px;
  left: -76px;
  border-radius: var(--br-lg);
  background: radial-gradient(50% 50%at 50% 50%, #3cdf7d, #008d6b),
    linear-gradient(269.65deg, #ffd600, #ffa200);
  transform: rotate(-57.7deg);
  transform-origin: 0 0;
}
.bg4,
.logo10 {
  position: relative;
}
.bg4 {
  align-self: stretch;
  height: 360px;
  background-color: var(--color-darkslategray-200);
  display: none;
}
.logo10 {
  margin: 0;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 88px;
  z-index: 1;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.div73,
.div74 {
  position: relative;
  z-index: 1;
}
.div73 {
  display: inline-block;
  min-width: 104px;
}
.div74 {
  font-weight: 500;
  min-width: 97px;
}
.div74,
.div75,
.div76 {
  display: inline-block;
}
.div75 {
  position: relative;
  font-weight: 500;
  min-width: 45px;
  z-index: 1;
}
.div76 {
  min-width: 114px;
}
.div76,
.div77 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.footer-menu-items2,
.footer-menu-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-menu-links {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-7xl);
}
.footer-menu-items2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.b33 {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 20px;
  display: inline-block;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  min-width: 106px;
}
.button15,
.footer-menu1 {
  justify-content: flex-start;
}
.button15 {
  cursor: pointer;
  border: 2px solid var(--color-mediumseagreen-100);
  padding: var(--padding-2xs) var(--padding-3xl);
  background-color: var(--color-mediumseagreen-300);
  width: 154px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 1;
}
.footer-menu1 {
  width: 837px;
  gap: var(--gap-41xl);
  max-width: 100%;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
}
.footer-content4,
.footer-inner,
.footer-menu1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer-inner {
  width: 1653px;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.footer-content4 {
  justify-content: center;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.footer-content4,
.footer-divider1,
.sign-up {
  align-self: stretch;
  max-width: 100%;
}
.sign-up {
  flex: 1;
  position: relative;
  background-color: var(--color-darkslategray-200);
  z-index: 1;
}
.footer-divider1 {
  height: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
}
.teenyiconspdf-solid8,
.teenyiconspdf-solid9 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.legal-icons,
.legal-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-icons {
  gap: var(--gap-xl);
}
.legal-items {
  padding: var(--padding-11xs) 0 0;
}
.div78,
.div79 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  z-index: 1;
}
.legal-links,
.policy-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.policy-links {
  flex-direction: column;
  gap: var(--gap-base);
  max-width: calc(100% - 34px);
}
.legal-links {
  flex-direction: row;
  gap: var(--gap-sm);
  max-width: 100%;
}
.icround-email-icon8,
.mingcutetelegram-fill-icon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.contact-icons2,
.legal-info-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.legal-info-inner {
  width: 1648px;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.footer4,
.legal-info,
.px3 {
  display: flex;
  align-items: flex-start;
}
.legal-info {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.footer4,
.px3 {
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.footer4 {
  margin-left: -137px;
  width: 1922px;
  background-color: var(--color-darkslategray-200);
  padding: var(--padding-3xl) 0 var(--padding-21xl) var(--padding-11xs);
  gap: var(--gap-3xl);
  max-width: 117%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-mediumseagreen-300);
  font-family: var(--font-montserrat);
}
.px3 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  padding: var(--padding-3xl) var(--padding-117xl) 0;
  gap: var(--gap-141xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .div58 {
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
  .menu-items1 {
    gap: var(--gap-43xl);
  }
  .menu-items-frame {
    min-width: 100%;
  }
  .frame-parent6 {
    gap: var(--gap-74xl);
  }
  .footer-inner {
    flex-wrap: wrap;
  }
  .px3 {
    gap: var(--gap-61xl);
    padding-left: var(--padding-49xl);
    padding-right: var(--padding-49xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .logo-parent1 {
    gap: var(--gap-11xl);
  }
  .h18 {
    font-size: var(--font-size-5xl);
  }
  .phone-input {
    min-width: 100%;
  }
  .logo10 {
    font-size: var(--font-size-11xl);
    line-height: 32px;
  }
  .footer-menu1 {
    flex-wrap: wrap;
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 750px) {
  .menu-links-inner {
    display: none;
  }
  .document-links1 {
    min-width: 100%;
  }
  .div65 {
    flex-wrap: wrap;
  }
  .wrapper6 {
    min-width: 100%;
  }
  .div67 {
    flex-wrap: wrap;
  }
  .wrapper7 {
    min-width: 100%;
  }
  .div69 {
    flex-wrap: wrap;
  }
  .wrapper8 {
    min-width: 100%;
  }
  .div71 {
    flex-wrap: wrap;
  }
  .phone-input {
    gap: var(--gap-base);
  }
  .call-info {
    flex-wrap: wrap;
  }
  .parent6 {
    gap: var(--gap-base);
  }
  .div58 {
    gap: var(--gap-11xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .menu-items1 {
    gap: var(--gap-12xl);
  }
  .frame-parent6 {
    gap: var(--gap-28xl);
  }
  .footer-menu-links {
    flex-wrap: wrap;
  }
  .footer-menu-items2 {
    min-width: 100%;
  }
  .legal-info-inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .px3 {
    gap: var(--gap-21xl);
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .h18 {
    font-size: var(--font-size-lg);
  }
  .div59 {
    font-size: var(--font-size-base);
  }
  .div60 {
    flex-wrap: wrap;
  }
  .b32 {
    font-size: var(--font-size-base);
  }
  .menu-items1 {
    gap: var(--gap-mini);
  }
  .registration {
    gap: var(--gap-2xl);
  }
  .frame-parent6 {
    gap: var(--gap-4xl);
  }
  .logo10 {
    font-size: var(--font-size-4xl);
    line-height: 24px;
  }
  .footer4 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .px3 {
    gap: var(--gap-xl);
  }
}
