.card-home-desk-child {
  width: 140px;
  height: 104px;
  position: relative;
  box-shadow: 0 0 9.12px rgba(168, 168, 168, 0.1);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: none;
}
.icon5 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.479);
}
.wrapper-icon1 {
  height: 38px;
  width: 38px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-icon-wrapper {
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
}
.b53 {
  align-self: stretch;
  position: relative;
  line-height: 15px;
  z-index: 1;
}
.card-home-desk {
  flex: 0.687;
  box-shadow: 0 0 9.12px rgba(168, 168, 168, 0.1);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-12xl) var(--padding-sm)
    var(--padding-11xl);
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-montserrat);
}
