.child8 {
  width: 536px;
  height: 246px;
  position: relative;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.1);
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.span4 {
  color: var(--color-mediumseagreen-300);
}
.b27,
.b28,
.div27 {
  position: relative;
  z-index: 1;
}
.b27 {
  height: 59px;
  display: inline-block;
  min-width: 61px;
}
.b28,
.div27 {
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray-100);
}
.div27 {
  width: 430px;
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-family: var(--font-onest);
  color: var(--color-gray-100);
  display: inline-block;
  max-width: 100%;
}
.div26 {
  flex: 1;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.1);
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-xl) var(--padding-21xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 402px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-mediumseagreen-400);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 825px) {
  .b27 {
    font-size: var(--font-size-19xl);
  }
  .div26 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .b27 {
    font-size: var(--font-size-10xl);
  }
  .b28 {
    font-size: var(--font-size-lg);
  }
  .div27 {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
}