.child18,
.div96 {
  position: relative;
}
.child18 {
  height: 80px;
  width: 614px;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  display: none;
  max-width: 100%;
}
.div96 {
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.fluentios-arrow-24-filled-icon {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.div95 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-12xl) var(--padding-lg) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
  font-family: var(--font-onest);
}
