.content-background-child {
  height: 134px;
  width: 134px;
  position: absolute;
  margin: 0 !important;
  right: -153.91px;
  bottom: 3.98px;
  border-radius: var(--br-3xl);
  background: linear-gradient(269.65deg, #ffd600, #ffa200),
    radial-gradient(50% 50%at 50% 50%, #3cdf7d, #008d6b);
  transform: rotate(60deg);
  transform-origin: 0 0;
}
.child11 {
  align-self: stretch;
  height: 497px;
  position: relative;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.1);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  display: none;
}
.description {
  height: 28px;
  width: 28px;
  position: relative;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: 50%;
  background-color: var(--color-mediumseagreen-300);
  border: 0 solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
  z-index: 2;
}
.source {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 5px;
  z-index: 3;
}
.description-parent,
.input-boxes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-boxes {
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  margin-left: -16.5px;
}
.description-parent {
  flex-direction: row;
  padding: 0 var(--padding-2xs) 0 0;
  color: var(--color-white);
}
.telegramfill {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.inputcase {
  height: 38px;
  width: 2px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 1px);
  left: -37px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen-300);
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}
.view-details {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 8px;
  z-index: 3;
}
.inputcase-parent {
  position: absolute;
  top: 7px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.telegramfill-parent {
  height: 28px;
  flex: 1;
  position: relative;
}
.frame-child9 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.httpsyourproducturlgoesherecom {
  position: absolute;
  top: 7px;
  left: 10px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 8px;
  z-index: 3;
}
.ellipse-parent3 {
  height: 28px;
  flex: 1;
  position: relative;
}
.frame-child10 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.view-details1 {
  height: 186px;
  width: 2px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 1px);
  left: -89.5px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-200);
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}
.b42 {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 9px;
  z-index: 3;
}
.view-details-parent {
  position: absolute;
  top: 7px;
  left: 9.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent4 {
  height: 28px;
  flex: 1;
  position: relative;
}
.b43,
.removed {
  position: absolute;
}
.removed {
  top: 0;
  left: 0;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.b43 {
  top: 7px;
  left: 10px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 8px;
  z-index: 3;
}
.removed-parent {
  height: 28px;
  flex: 1;
  position: relative;
}
.b44,
.source1 {
  position: absolute;
}
.source1 {
  top: 0;
  left: 0;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.b44 {
  top: 7px;
  left: 10px;
  line-height: 14px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 8px;
  z-index: 3;
}
.source-parent {
  height: 28px;
  flex: 1;
  position: relative;
}
.frame-nav,
.inner3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-nav {
  margin: 0;
  flex: 1;
  gap: var(--gap-lgi);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-mediumseagreen-300);
  font-family: var(--font-montserrat);
}
.inner3 {
  align-self: stretch;
  padding: 0 var(--padding-smi) 0 var(--padding-sm);
}
.divider-child {
  height: 1px;
  flex: 1;
  position: relative;
  background-color: var(--color-aliceblue);
  z-index: 1;
}
.divider {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.b45 {
  position: relative;
  z-index: 1;
}
.data-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm);
}
.child12,
.div52 {
  position: relative;
}
.child12 {
  width: 262px;
  height: 60px;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: none;
}
.div52 {
  font-weight: 500;
  background: linear-gradient(#78837e, #78837e), #313131;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 20px;
  z-index: 1;
}
.frame-child11,
.input2 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.input2 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-onest);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 15px;
  flex: 1;
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
  min-width: 9px;
  padding: 0;
}
.frame-child11 {
  width: 0;
  height: 11px;
  object-fit: contain;
}
.vector-container {
  width: 0;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.div51,
.parent8,
.vector-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent8 {
  width: 15px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-11xs);
}
.div51 {
  align-self: stretch;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-xs);
  gap: var(--gap-5xs);
  z-index: 1;
}
.child13,
.div54 {
  position: relative;
}
.child13 {
  height: 60px;
  width: 262px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.div54 {
  display: inline-block;
  min-width: 54px;
  z-index: 1;
}
.div53 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-xs) var(--padding-3xl);
  z-index: 1;
  font-size: var(--font-size-xs);
}
.div55,
.group-input1 {
  position: relative;
  z-index: 1;
}
.group-input1 {
  margin: 0;
  height: 20px;
  width: 20px;
  border-radius: var(--br-8xs);
  border: 1.2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.div55 {
  font-weight: 500;
  display: inline-block;
  min-width: 77px;
}
.wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.no-patronimic {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
}
.email-input,
.input-row,
.no-patronimic {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-input {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs-5);
}
.input-row {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-sm);
  font-size: var(--font-size-3xs);
  color: var(--color-gray-100);
  font-family: var(--font-onest);
}
.b46 {
  position: relative;
  font-size: var(--font-size-xs);
  display: inline-block;
  font-family: var(--font-montserrat);
  background: linear-gradient(#313131, #313131), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  min-width: 41px;
}
.button9 {
  cursor: pointer;
  border: 2px solid var(--color-gold-100);
  padding: var(--padding-2xs) var(--padding-xl);
  background-color: var(--color-gold-200);
  flex: 1;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}
.div50,
.next-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.next-button-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-sm);
}
.div50 {
  flex: 1;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.1);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-lg) 0 var(--padding-sm);
  gap: var(--gap-lg);
  z-index: 2;
}
.john-smith {
  position: absolute;
  top: 136.82px;
  left: 0;
  border-radius: var(--br-xs);
  background: radial-gradient(50% 50%at 50% 50%, #3cdf7d, #008d6b),
    linear-gradient(269.65deg, #ffd600, #ffa200);
  width: 87.3px;
  height: 87.3px;
  transform: rotate(-57.7deg);
  transform-origin: 0 0;
}
.icon4 {
  position: absolute;
  top: 25px;
  left: 114px;
  width: 86px;
  height: 49px;
  object-fit: contain;
  z-index: 1;
}
.mimenu-icon {
  position: absolute;
  top: 0;
  left: 12px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.menu-divider {
  height: 183.4px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  top: -71px;
  left: -12px;
}
.content-background {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
  font-family: var(--font-montserrat);
}
