.child14,
.h19 {
  position: relative;
}
.child14 {
  align-self: stretch;
  height: 1174px;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.1);
  border-radius: var(--br-33xl);
  background-color: var(--color-white);
  display: none;
}
.h19 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.data-fields-content {
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-montserrat);
}
.data-fields-content,
.field-label-names,
.input3,
.input4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input3,
.input4 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-whitesmoke-200);
  height: 80px;
  flex: 1;
  border-radius: var(--br-sm);
  padding: var(--padding-12xl) var(--padding-lg) var(--padding-11xl);
  box-sizing: border-box;
  font-family: var(--font-onest);
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
  min-width: 193px;
  z-index: 1;
}
.field-label-names {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.child15 {
  height: 80px;
  width: 614px;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  border: 1.4px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.div84,
.input5 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.div84 {
  font-weight: 500;
  min-width: 96px;
}
.input5 {
  width: calc(100% - 0px);
  border: 0;
  outline: 0;
  font-family: var(--font-onest);
  font-size: var(--font-size-mini);
  background-color: transparent;
  align-self: stretch;
  height: 19px;
  color: var(--color-darkslategray-100);
  text-align: left;
  min-width: 221px;
  padding: 0;
}
.parent8 {
  width: 369px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: calc(100% - 48px);
}
.frame-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-47xl);
  background-color: var(--color-mediumseagreen-300);
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.vector-78-stroke1 {
  position: absolute;
  top: 10px;
  left: 9px;
  width: 10px;
  height: 8px;
  z-index: 1;
}
.rectangle-parent6 {
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: var(--br-47xl);
  background-color: var(--color-mediumseagreen-300);
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
  z-index: 1;
}
.div83,
.inner4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.div83 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  border: 1.4px solid var(--color-mediumseagreen-300);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-lgi) var(--padding-mini)
    var(--padding-mid);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  font-size: var(--font-size-smi);
}
.child16,
.div86 {
  position: relative;
}
.child16 {
  height: 80px;
  width: 614px;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  display: none;
  max-width: 100%;
}
.div86 {
  z-index: 1;
}
.div85 {
  align-self: stretch;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-lg) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.child17,
.div88 {
  position: relative;
}
.child17 {
  height: 80px;
  width: 614px;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  display: none;
  max-width: 100%;
}
.div88 {
  display: inline-block;
  min-width: 122px;
  z-index: 1;
}
.div87,
.field-labels {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.div87 {
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  padding: var(--padding-12xl) var(--padding-lg) var(--padding-11xl);
  box-sizing: border-box;
  z-index: 1;
}
.field-labels {
  flex-direction: column;
  gap: var(--gap-xl);
}
.div89 {
  display: inline-block;
  min-width: 29px;
}
.div89,
.div90,
.group-input7 {
  position: relative;
  z-index: 1;
}
.group-input7 {
  margin: 0;
  height: 24px;
  width: 24px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.div90 {
  font-weight: 500;
  display: inline-block;
  min-width: 68px;
}
.gender-options,
.wrapper10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper10 {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.gender-options {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.div91,
.group-input8 {
  position: relative;
  z-index: 1;
}
.group-input8 {
  margin: 0;
  height: 24px;
  width: 24px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-mediumseagreen-400);
  box-sizing: border-box;
}
.div91 {
  display: inline-block;
  min-width: 64px;
}
.gender-options1,
.gender-select,
.wrapper11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper11 {
  flex-direction: column;
  padding: var(--padding-10xs-5) 0 0;
}
.gender-options1,
.gender-select {
  flex-direction: row;
  gap: var(--gap-5xs);
  color: var(--color-gray-100);
}
.gender-select {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  color: var(--color-darkslategray-100);
}
.data-fields-wrapper,
.gender-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.gender-field {
  width: 256px;
  gap: var(--gap-xs);
}
.data-fields-wrapper {
  align-self: stretch;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frame-child15 {
  height: 74px;
  width: 614px;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-mediumseagreen-500);
  display: none;
  max-width: 100%;
}
.alert-triangle-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 1;
}
.div92 {
  width: 513px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  max-width: calc(100% - 46px);
  z-index: 1;
}
.data-security,
.rectangle-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent7 {
  flex: 1;
  border-radius: var(--br-sm);
  background-color: var(--color-mediumseagreen-500);
  padding: var(--padding-lg) var(--padding-lg) var(--padding-3xl);
  gap: var(--gap-3xl);
  z-index: 1;
}
.data-security {
  align-self: stretch;
  padding: 0 0 var(--padding-7xs);
  font-size: var(--font-size-smi);
}
.b34 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-montserrat);
  background: linear-gradient(#313131, #313131), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  min-width: 68px;
}
.button16,
.data-fields-container {
  display: flex;
  align-items: flex-start;
}
.button16 {
  cursor: pointer;
  border: 2px solid var(--color-gold-100);
  padding: var(--padding-lgi) var(--padding-xl);
  background-color: var(--color-gold-200);
  align-self: stretch;
  border-radius: var(--br-sm);
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}
.button16:hover {
  background-color: var(--color-goldenrod-200);
  border: 2px solid var(--color-goldenrod-100);
  box-sizing: border-box;
}
.data-fields-container {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.data-fields {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl);
}
.content,
.data-fields,
.div82 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.div82 {
  width: 734px;
  box-shadow: 0 0 25px rgba(168, 168, 168, 0.1);
  border-radius: var(--br-33xl);
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-17xl) 0 var(--padding-41xl);
  gap: var(--gap-41xl);
  z-index: 1;
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
  font-family: var(--font-onest);
}
@media screen and (max-width: 1250px) {
  .div82 {
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .h19 {
    font-size: var(--font-size-5xl);
  }
  .data-fields-container {
    gap: var(--gap-base);
  }
  .data-fields,
  .div82 {
    box-sizing: border-box;
  }
  .data-fields {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
  }
  .div82 {
    gap: var(--gap-11xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-6xl);
  }
}
@media screen and (max-width: 450px) {
  .h19 {
    font-size: var(--font-size-lg);
  }
  .gender-select {
    flex-wrap: wrap;
  }
  .b34 {
    font-size: var(--font-size-base);
  }
}
