.bg2 {
  align-self: stretch;
  height: 568px;
  position: relative;
  background-color: var(--color-darkslategray-200);
  display: none;
}
.b55,
.logo6 {
  position: relative;
  display: inline-block;
}
.logo6 {
  margin: 0;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  min-width: 61px;
  z-index: 1;
}
.b55 {
  font-size: var(--font-size-4xs);
  line-height: 20px;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  min-width: 64px;
}
.button12,
.registration-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button12 {
  cursor: pointer;
  border: 2px solid var(--color-mediumseagreen-100);
  padding: var(--padding-10xs) var(--padding-5xs);
  background-color: var(--color-mediumseagreen-300);
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  z-index: 1;
}
.registration-button-container {
  width: 84px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.logo-container-container,
.logo-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.logo-container1 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.logo-container-container {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
  font-size: var(--font-size-7xl);
  color: var(--color-mediumseagreen-300);
}
.frame-child13 {
  height: 2px;
  flex: 1;
  position: relative;
  background-color: var(--color-darkslategray-200);
  z-index: 1;
}
.footer-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.div62 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 85px;
  z-index: 1;
}
.footer-link-titles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
}
.div63 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 77px;
  z-index: 1;
}
.footer-link-titles1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl);
}
.div64 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.footer-link-titles2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-lg);
}
.div65,
.div66 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 127px;
  z-index: 1;
}
.div66 {
  min-width: 36px;
}
.footer-link-titles3,
.footer-links1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-link-titles3 {
  flex-direction: row;
  padding: 0 var(--padding-26xl) 0 var(--padding-27xl);
}
.footer-links1 {
  flex-direction: column;
  gap: var(--gap-sm);
}
.banner-content-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  color: var(--color-gray-200);
}
.icround-email-icon3,
.mingcutetelegram-fill-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
  z-index: 1;
}
.contacts,
.contacts-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.contacts {
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.contacts-container {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.grid {
  height: 2px;
  flex: 1;
  position: relative;
  background-color: var(--color-darkslategray-200);
  z-index: 1;
}
.grid-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.enotsu2,
.span8 {
  font-weight: 600;
}
.cookie3,
.span9 {
  font-family: var(--font-onest);
}
.span9 {
  font-weight: 600;
}
.cookie2 {
  color: var(--color-gray-200);
}
.enotsu-cookie-container1 {
  align-self: stretch;
  position: relative;
  line-height: 14px;
  z-index: 1;
}
.enotsu3 {
  font-weight: 600;
  color: var(--color-white);
}
.enotsu-container1 {
  align-self: stretch;
  position: relative;
  line-height: 14px;
  z-index: 1;
  color: var(--color-gray-200);
}
.cookie-notice,
.cookie-notice-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cookie-notice {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.cookie-notice-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-mini) var(--padding-9xs);
  font-family: var(--font-onest);
}
.passing-icon {
  height: 2px;
  flex: 1;
  position: relative;
  background-color: var(--color-darkslategray-200);
  z-index: 1;
}
.passing-icon-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.teenyiconspdf-solid2 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.document-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div67 {
  flex: 1;
  position: relative;
  line-height: 14px;
  font-weight: 500;
  z-index: 1;
}
.document-links {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 0;
  gap: var(--gap-sm);
}
.teenyiconspdf-solid3 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.teenyiconspdf-solid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.div68 {
  flex: 1;
  position: relative;
  line-height: 14px;
  font-weight: 500;
  z-index: 1;
}
.document-links1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.legal-documents1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}
.footer2,
.legal-documents-container,
.legal-documents1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-documents-container {
  width: 300px;
  flex-direction: row;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
}
.footer2 {
  align-self: stretch;
  background-color: var(--color-darkslategray-200);
  flex-direction: column;
  padding: var(--padding-lg) 0 var(--padding-4xl);
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
