.bg1,
.logo4 {
  position: relative;
}
.bg1 {
  align-self: stretch;
  height: 360px;
  background-color: var(--color-darkslategray-200);
  display: none;
}
.logo4 {
  line-height: 40px;
  display: inline-block;
  min-width: 88px;
  z-index: 1;
}
.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.div43,
.div44 {
  position: relative;
  z-index: 1;
}
.div43 {
  display: inline-block;
  min-width: 104px;
}
.div44 {
  font-weight: 500;
  min-width: 97px;
}
.div44,
.div45,
.div46 {
  display: inline-block;
}
.div45 {
  position: relative;
  font-weight: 500;
  min-width: 45px;
  z-index: 1;
}
.div46 {
  min-width: 114px;
}
.div46,
.div47 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.footer-menu-items1,
.menu-items-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-menu-items1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-7xl);
}
.menu-items-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.b41 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 106px;
}
.button8,
.footer-menu {
  justify-content: flex-start;
}
.button8 {
  width: 154px;
  border-radius: var(--br-xs);
  background-color: var(--color-mediumseagreen-300);
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-2xs) var(--padding-3xl);
  z-index: 1;
  text-align: center;
  color: var(--color-white);
}
.footer-menu {
  width: 837px;
  gap: var(--gap-41xl);
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
}
.footer-content1,
.footer-menu,
.frame-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent6 {
  width: 1653px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-content1 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.footer-separator {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-darkslategray-200);
  max-width: 100%;
  z-index: 1;
}
.footer1,
.spacer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.spacer {
  align-self: stretch;
  height: 8px;
  flex-direction: row;
  padding: 0 0 var(--padding-7xs);
  max-width: 100%;
}
.footer1 {
  margin-left: -137px;
  width: 1922px;
  background-color: var(--color-darkslategray-200);
  flex-direction: column;
  padding: var(--padding-3xl) 0 var(--padding-21xl) var(--padding-11xs);
  gap: var(--gap-3xl);
  max-width: 117%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-mediumseagreen-300);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1200px) {
  .frame-parent6 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .logo4 {
    font-size: var(--font-size-11xl);
    line-height: 32px;
  }
  .footer-menu {
    flex-wrap: wrap;
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 750px) {
  .footer-menu-items1 {
    flex-wrap: wrap;
  }
  .menu-items-container {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .logo4 {
    font-size: var(--font-size-4xl);
    line-height: 24px;
  }
  .footer1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
}
