.bg-icon4 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.h19 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.footer-logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-31xl);
  font-family: var(--font-montserrat);
}
.b35,
.footer-logo-wrapper {
  color: var(--color-white);
}
.div33 {
  width: 685px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.b36,
.b37,
.b38,
.b39 {
  color: var(--color-white);
}
.div34 {
  width: 709px;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.div32,
.div34,
.h110 {
  position: relative;
}
.div32 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-153xl) var(--padding-xl) var(--padding-101xl)
    var(--padding-117xl);
  box-sizing: border-box;
  gap: var(--gap-lg);
  max-width: 100%;
}
.h110 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.questions-title-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.service-cost-child {
  height: 210px;
  width: 1092px;
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.div35,
.h33 {
  position: relative;
  z-index: 1;
}
.h33 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.div35 {
  align-self: stretch;
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-family: var(--font-onest);
  color: var(--color-gray-100);
}
.cost-details,
.cost-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cost-details {
  align-self: stretch;
  gap: var(--gap-7xl);
}
.cost-details-wrapper {
  flex: 1;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  min-width: 618px;
}
.frame-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-mediumseagreen-300);
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.vector-icon1 {
  position: absolute;
  height: 3.7%;
  width: 29.57%;
  top: 48.04%;
  right: 35.22%;
  bottom: 48.26%;
  left: 35.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.rectangle-parent2 {
  height: 46px;
  width: 46px;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--color-mediumseagreen-300);
  border: 2px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
  z-index: 1;
}
.service-cost {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-14xl) var(--padding-19xl) var(--padding-23xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.questions-list,
.questions-title-container-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.questions-list {
  align-self: stretch;
  gap: var(--gap-xl);
  font-size: var(--font-size-4xl);
}
.questions-title-container-parent {
  width: 1092px;
  gap: var(--gap-41xl);
}
.parent7,
.percentages-questions {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-35xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-montserrat);
}
.parent7 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-93xl);
  gap: var(--gap-101xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-onest);
}
@media screen and (max-width: 1425px) {
  .parent7 {
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .div32 {
    padding-left: var(--padding-49xl);
    box-sizing: border-box;
  }
  .questions-title-container-parent {
    gap: var(--gap-11xl);
  }
  .parent7 {
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 825px) {
  .h19 {
    font-size: var(--font-size-21xl);
  }
  .div32 {
    padding-top: var(--padding-93xl);
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
  .h110 {
    font-size: var(--font-size-24xl);
  }
  .cost-details-wrapper {
    min-width: 100%;
  }
  .parent7 {
    gap: var(--gap-11xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .h19 {
    font-size: var(--font-size-11xl);
  }
  .div33,
  .div34 {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .div32 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .h110 {
    font-size: var(--font-size-13xl);
  }
  .h33 {
    font-size: var(--font-size-lg);
  }
  .div35 {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
}