.logo5 {
  text-decoration: none;
  position: relative;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 51px;
  z-index: 1;
}
.logo-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.a13 {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 64px;
}
.button10,
.frame-parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.button10 {
  width: 84px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen-300);
  border: 2px solid var(--color-mediumseagreen-100);
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-5xs);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-4xs);
  color: var(--color-white);
}
.frame-parent8 {
  width: 276px;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-xl);
}
.div56,
.h111 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.h111 {
  margin: 0;
  font-size: inherit;
  line-height: 30px;
  font-weight: 700;
  font-family: inherit;
}
.div56 {
  font-size: var(--font-size-mini);
  font-family: var(--font-onest);
  color: var(--color-gray-200);
}
.frame-parent7,
.parent9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent9 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-lg);
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.frame-parent7 {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-13xl);
}
.px-inner1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini) var(--padding-46xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-mediumseagreen-300);
  font-family: var(--font-montserrat);
}
