.bg-icon5 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 345px;
  object-fit: cover;
}
.master-card-icon1 {
  position: absolute;
  top: 624px;
  left: 15px;
  width: 50.2px;
  height: 30px;
  z-index: 1;
}
.mimenu-icon1,
.mir-icon1,
.visa-icon1 {
  position: absolute;
  top: 626.3px;
  left: 99.4px;
  width: 79.1px;
  height: 24.6px;
  z-index: 1;
}
.mimenu-icon1,
.mir-icon1 {
  left: 212.8px;
  width: 88.2px;
}
.mimenu-icon1 {
  top: 29px;
  left: 15px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.frame-child14,
.mask-group-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frame-child14 {
  border-radius: var(--br-14xl-3);
  background: linear-gradient(269.65deg, #ffd600, #ffa200);
  display: none;
}
.mask-group-icon1 {
  object-fit: cover;
}
.span11 {
  font-size: var(--font-size-smi-6);
}
.span10 {
  font-weight: 500;
}
.b56 {
  font-size: var(--font-size-mid);
}
.span13 {
  font-size: var(--font-size-smi-6);
}
.span12 {
  font-weight: 500;
}
.div69 {
  position: absolute;
  top: 4.6px;
  left: 36.6px;
  background: linear-gradient(#313131, #313131), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 68px;
  z-index: 4;
}
.rectangle-parent4 {
  position: absolute;
  top: 228px;
  left: 98px;
  border-radius: var(--br-14xl-3);
  background: linear-gradient(269.65deg, #ffd600, #ffa200);
  width: 120px;
  height: 33px;
  white-space: nowrap;
  z-index: 1;
}
.bottom-shape-icon {
  position: absolute;
  top: 205px;
  left: 76px;
  width: 72.4px;
  height: 72.4px;
  object-fit: contain;
  z-index: 3;
}
.payment-info-container {
  width: 100%;
  height: 696px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  text-align: left;
  font-size: var(--font-size-xs);
  font-family: var(--font-montserrat);
}
